:root {
--primary-color: #2E2F42;
--secondary-color: #434455;
--primary-btn: #4D5AE5;
--secondary-btn: #FFFFFF;
--cub: cubic-bezier(0.4, 0, 0.2, 1);}

.list{list-style: none;}
.link{text-decoration: none;}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

body {
font-family: "roboto", sans-serif;
color: var(--primary-color);
}

.container {
padding-left: 16px;
padding-right: 16px;
margin: 0 auto; 
}

@media (min-width: 428px) {
.container {width: 428px;} 
}

@media screen and (min-width:768px){
.container {width: 768px;}
}

@media screen and (min-width: 1158px;) {
.container {width: 1158px;}
}

.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
color: #2E2F42;
margin-right: 76px;
}

.header {
background-color: #FFFFFF;
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #E7E9FC;
}

.web {
  color: var(--primary-btn);
}

@media (max-width:767px) {.header-list
{display: none;}  
}



.hero-index{
max-width: 100%;
margin: auto;
padding-top: 112px;
padding-bottom: 112px;
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-index.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;

}

.hero-main {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;
width: 496px;
margin: auto;
}
@media (max-width:767px) {.hero-main
{font-size: 36px;
line-height: 1.11; width: 319px;}
}

.hero-index-btn{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--secondary-btn);
cursor: pointer;
background-color:var(--primary-btn);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 12px 32px;
margin: auto;
display: block;
border-color: transparent;
transition: 
background-color 250ms var(--cub),
box-shadow 250ms var(--cub);
}

@media (max-width:767px) {
.hero-index-btn {margin-top: 72px;}
}
@media (min-width:768px) {
.hero-index-btn {margin-top: 40px;}
}
@media (min-width:1158px) {
.hero-index-btn {margin-top: 48px;}  
}
@media (max-width:1157px) {
  .our-icon {display: none;}
}