
@media screen and (min-width:768px){
.container {width: 768px;}
.header {padding-bottom: 10px;}
.header-list{
display: flex;
margin-left: auto;
gap: 40px;
}
.header-list .header-link.current::after {
bottom: -10px;
}
.menu-open {display: none;}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;

}
.logo {
  margin-right: 123px;
}

.container>.header-list{
  flex-direction: column;
  gap: 4px;
}

.header-mail{
  font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #434455;
}
.header-tel {
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #434455;
margin-bottom: 0px;
}

.header-item:not(:last-child) {
    margin-bottom: 0px;
}

.hero-index {padding-bottom: 108px;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-tablet.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero-index {
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-tablet-2x.jpg);
}
}

.hero-main {
  font-size: 56px;
line-height: 1.07;
width: 496px;
}
.hero-index-btn{margin-top: 40px;}
.our-goal-list {display: flex; flex-wrap:wrap;column-gap: 24px;}
.our-goal-index {text-align: start;}
.hero-item-index {width: calc((100% - 30px) / 2);}
.our-team {padding-bottom: 104px;}
.our-team>.container {width: 582px;}
.hero-list {gap: 64px; column-gap: 24px;}
.customers-list {column-gap: 24px;}
.customers-item{width: calc((100% - 60px) / 3);}
.flex {display: flex;}
.flex {flex-wrap: wrap;}
.footer-logo {text-align: start;}
.footer-text {width: 264px;}
.footer-left {margin-right: 24px; margin-bottom: 72px;}
.social {margin-top: 0; margin-bottom: 0; text-align: start;}
.footer-email {text-align: start;}
.footer-subscribe {display: flex;}
.footer-input {width: 264px; margin-right: 24px;}
.modal {max-width: 408px;}
}

/* @media (min-width:767px) {

}

@media (max-width:767px) {
}

@media (max-width:767px) {

}
@media (min-width:768px) {

} */